$bgColor_white: #EFEFEF;

$bgColor_grey: #E5E5E5;

$mainColor_green: #66C05D;

$mainColor_white: #ffffff;

$fontColor_black: #000000;

$navColor_black: #333333;

$footerColor_grey: #828282;