@import 'nullstyles';
@import 'variables';
@import 'header';
@import 'main';
@import 'footer';
@import 'burger-menu';

html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    line-height: 16px;
}

.contain{
    max-width: 1110px;
    margin: 0 auto;

    @media (max-width: 1110px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}
